$color: gray;

p {
  color: $color
}

h1 {
  color: $color;
}

.nesting {

    p {
        color: green;
    }

}

%commentary {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid gray;
    padding: 20px;
    margin: 20px;
}

.bulbasaur {
    @extend %commentary;
    background-color: mediumseagreen;
}

.charmander {
    @extend %commentary;
    background-color: darkorange;
}

.squirtle {
    @extend %commentary;
    background-color: lightskyblue;
}
