#intro {
          color: magenta;
        }

  table {
          border: 2px solid gray;
          border-collapse: collapse;
          width: 50%;
        }

  th, td {
          border: 1px solid gray;
          padding: 5px;
          text-align: center;
        }

  th {
          background-color: lightgray;
      }

  .purple {
    color: purple;
    font-weight: bold;
    font-style: italic;
  }



  @media (max-width: 600px) {
      body {
          background-color: lightgray;
      }
